@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.button {
  font-size: $fontSizeBase;
  font-weight: $fontWeightRegular;
  background-color: $colorLight;
  border: none;
  padding: 0;
  color: $fontColorDark;
  cursor: pointer;
  border-radius: calc($borderRadius / 2);
  @include center();
  justify-content: space-between;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
