@use "@/styles/variables.scss" as *;

.setting {
  display: flex;
  gap: 10px;
}

.button {
  color: rgba($fontColorDark, 0.8);
  gap: 5px;
  border: 1px solid rgba($fontColorDark, 0.5);
  border-radius: 3px;
  padding-inline: 6px;
  padding-block: 4px;

  &:hover {
    background-color: rgba($colorAccent, 0.3);
  }

  &.accordionItem {
    border: none;

    &.unfinished:hover {
      background-color: inherit;
      color: $colorDark;
    }

    &.inProgress:hover {
      background-color: inherit;
      color: $colorInProgress;
    }
    &.waitingForApproval:hover {
      background-color: inherit;
      color: $colorWaiting;
    }
    &.completed:hover {
      background-color: inherit;
      color: $colorDone;
    }
  }
}

.trigger {
  &:hover {
    background-color: rgba($colorPrimary, 0.3);
  }
}

.exclamation {
  background-color: rgba($colorAccent, 0.3);
}

.statuses {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 160px;
}

.status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
