@use "@/styles/mixins.scss" as *;
@use "@/styles/variables.scss" as *;

.container {
  position: relative;
  @include center();
  min-height: 100vh;
  background-image: linear-gradient(
    120deg,
    $colorPrimary 0%,
    $colorSecondary 100%
  );
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.form {
  margin-inline: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 60px;
  max-width: 800px;
  max-height: 600px;
  background-color: $colorLight;
  gap: 30px;
  border-radius: 10px;
}

.input {
  border: 1px solid rgba($colorDark, 0.8) !important;
  width: 100%;
  padding: 5px !important;
  border-radius: 10px;
}

.button {
  text-transform: uppercase;
  max-width: 200px;
  width: 100%;
  text-align: center;
  border: 1px solid rgba($colorDark, 0.8) !important;
  padding: 10px 20px !important;
  justify-content: center !important;
  color: $colorLight !important;
  background-color: rgba($colorSecondary, 1) !important;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba($colorSecondary, 0.9) !important;
  }
}

.error {
  color: $colorAccent;
}
