@font-face {
  font-family: "Raleway-Variable";
  src:
    url("@/assets/fonts/Raleway-Variable.woff") format("woff"),
    url("@/assets/fonts/Raleway-Variable.woff") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
