$fontFamily: "Raleway-Variable", sans-serif;
$fontSizeExtraTitle: 54px;
$fontSizeTitle: 40px;
$fontSizeSubTitle: 22px;
$fontSizeMedium: 20px;
$fontSizeBase: 16px;
$fontSizeSmall: 13px;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightExtraBold: 900;

$backgroundColor: #ffffff;
$fontColorDark: #35383e;
$colorLight: #ffffff;
$colorDark: #35383e;
$colorWarning: #fc3f3e;
$colorInProgress: #ffb931;
$colorWaiting: #2e74ee;
$colorDone: #2ed653;
$colorPrimary: #2667e8;
$colorSecondary: #f075aa;
$colorAccent: #ec5e51;

$borderRadius: 22.5px;
