@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.todo {
  width: 100%;
  border-radius: $borderRadius;
  padding: 15px;
  background-color: rgba($colorDark, 0.05);

  &.open {
    .content {
      max-height: 200px;
    }
  }
  .content {
    overflow: hidden;
    max-height: 0;
    padding: 0 25px 0 50px;
    transition: all 0.6s linear;
    display: flex;
    flex-direction: column;
  }

  &:hover .contentMenu {
    opacity: 1;
  }

  &.unfinished {
    background-color: rgba($colorDark, 0.05);
  }

  &.inProgress {
    background-color: rgba($colorInProgress, 0.05);
  }

  &.waitingForApproval {
    background-color: rgba($colorWaiting, 0.05);
  }

  &.completed {
    background-color: rgba($colorDone, 0.05);
  }
}

.header {
  gap: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.iconStatus {
  @include size(36px);
  @include center();
  box-sizing: border-box;
  background-color: rgba($colorDark, 0.1);
  border-radius: calc($borderRadius / 2);

  &.unfinished {
    background-color: rgba($colorDark, 0.1);
    color: rgba($colorDark, 0.25);
  }

  &.inProgress {
    background-color: rgba($colorInProgress, 0.8);
    color: $colorLight;
  }

  &.waitingForApproval {
    background-color: rgba($colorWaiting, 0.8);
    color: $colorLight;
  }

  &.completed {
    background-color: rgba($colorDone, 0.9);
    color: $colorLight;
  }
}

.title {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $fontColorDark;
  font-weight: $fontWeightRegular;

  &.unfinished {
    color: $fontColorDark;
  }

  &.inProgress {
    color: darken($colorInProgress, 10%);
  }

  &.waitingForApproval {
    color: darken($colorWaiting, 10%);
  }

  &.completed {
    color: darken($colorDone, 10%);
  }
}

.exclamation {
  color: $colorLight;
  background-color: $colorWarning;
}

.contentMenu {
  top: 0;
  right: 51px;
  position: absolute;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.pointer {
  cursor: pointer;
}

.trash {
  color: rgba($colorDark, 0.8);
  @include transition(color);

  &:hover {
    color: $colorWarning;
  }
}

.icon {
  color: rgba($colorDark, 0.8);
  @include transition(color);

  &:hover {
    color: $colorDark;
  }
}

.action {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.buttonChange {
  padding: 8px 10px;
  background-color: rgba($colorPrimary, 0.8);
  color: $colorLight;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $colorPrimary;
  }
}

.cancel {
  background-color: rgba($colorDark, 0.2);
  color: $fontColorDark;
  padding: 8px 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba($colorDark, 0.3);
  }
}
