@use "@/styles/variables.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
  margin: 20px auto;
  width: 80vw;
  background-color: $backgroundColor;
}
