@use "@/styles/variables.scss" as *;

.base {
  font-family: $fontFamily;
  line-height: 1.5;
}

.extraTitle {
  font-size: $fontSizeExtraTitle;
  font-weight: $fontWeightExtraBold;
  line-height: 1.2;
}

.title {
  font-size: $fontSizeTitle;
  font-weight: $fontWeightExtraBold;
}

.subtitle {
  font-size: $fontSizeSubTitle;
  font-weight: $fontWeightExtraBold;
}

.largeText {
  font-size: $fontSizeMedium;
  font-weight: $fontWeightBold;
}

.text {
  font-size: $fontSizeBase;
  font-weight: $fontWeightRegular;
}

.smallText {
  font-size: $fontSizeSmall;
  font-weight: $fontWeightRegular;
}
