@use "@/styles/variables.scss" as *;

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.vertical {
  flex-direction: column;
  gap: 5px;
}

.menuItem {
  flex-grow: 1;
}

.link {
  color: inherit;
  font-size: $fontSizeBase;
  font-weight: $fontWeightRegular;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
