@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.buttonTodo {
  display: flex;
  gap: 10px;
  padding: 8px 10px;
  background-color: rgba($colorPrimary, 0.8);
  color: $colorLight;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $colorPrimary;
  }
}

.options {
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}
